* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: #01090C;
    scroll-behavior: smooth;
}

#logo {
    height: 80px;
    width: 20%;
    z-index: 50;
    top: 0;
    bottom: 50%;
    position: absolute;
}

header {
    position: absolute;
    z-index: 60;
    display: flex;
    justify-content: center;
    margin: 1rem;
    left: 0;
    right: 0;
}

.container {
    background-color: white;
    height: 100%;
}

h2 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.about {
    display: flex;
  }

.swiper {
    border: 1px solid lightblue;
    width: 30%;
    height: 500px;
  }

  .swiper-slide {

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .text1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 50%;
    color: white;
    text-align: center;
    margin-right: 1rem;
  }

  .text2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 50%;
    color: white;
    text-align: center;
    margin-right: 1rem;
  }

  .text3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 50%;
    color: white;
    text-align: center;
    margin-right: 1rem;
  }


#botoes {
    display: flex;
    top: 20px;
    list-style: none;
}

a {
    width: 5%;
    font-family: 'Bebas Neue', cursive;
    line-height: 25px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

ul li:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.register-button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 60%; */
    padding: 0;
    margin-top: 20px;
}

.buttonform:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

}

.botaoo1 {

    float: left;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 28px;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    font-family: Courier New;
    font-size: 17px;
    text-decoration: none;
    text-shadow: -1px 1px 50px #2f6627;
}

.botaoo2 {
    float: right;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 28px;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    font-family: Courier New;
    font-size: 17px;
    text-decoration: none;
    text-shadow: -1px 1px 50px #2f6627;
}

.container {
    height: 100%;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#text {
    font-family: 'Fira Mono', monospace;
    text-align: justify;
    padding-top: 10%;
    padding-left: 10%;
    color: white;
    font-size: 15px;
    height: 400px;

    margin-bottom: 100px;

}

.register-button > button {
    width: 380px;
    height: 86px;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 10%, #7BC9D1 50%);
    border: 0;
    letter-spacing: 3px;
    line-height: 88px;
    border-radius: 10px;
    outline: transparent;

}

footer {
    width: 100%;
    height: 30%;
    display: flex;
}

span {
    font-family: 'Bebas Neue', cursive;
    padding-top: 50px;
    padding-left: 100px;
}

.btn {
    display: block;
    height: 300px;
    width: 300px;
    /* border-radius: 50%; */
    border: 1px solid red;
}

#social-test {
    margin-top: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}

.social li {
    color: rgba(167, 146, 129, 0.6);
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 1%;
    border: 1px solid rgba(167, 146, 129, 0.4);
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease 0.3s;
}

.social:hover > li {
    opacity: 0.5;
}

.social:hover > li:hover {
    opacity: 1;
}

.container {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.social {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100px;
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  

@media only screen and (max-device-width: 900px) and (max-device-height:900px) {


    * {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body,
    html {
        height: 100%;
        width: 100%;
    }

    #logo {
        display: none;
    }

    header {
        width: 80%;
    }

    header a {
        font-size: 1.5em;     
    }

    .slide a {
        display: none;
    }

    .swiper {
        width: 100%;
       float: none; 
      }

      .text1, .text2, .text3{
        float: none;
        width: 100%;
    }

      .about {
        display: inline;
      }

    .w-100   {
        object-fit: cover;
    }

    
h2 {
    margin-top: 50px;
}

    #photo {
        display: none;
    }

    .text {
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
    }

    .box {
        display: flex;
        height: 100px;
    }

    .register-button > button {
        width: 300px;
        height: 86px;
        font-size: 36px;
        font-family: 'Bebas Neue', cursive;
        background: linear-gradient(45deg, transparent 10%, #7BC9D1 50%);
        border: 0;
        letter-spacing: 3px;
        line-height: 88px;
        border-radius: 10px;
        outline: transparent;
    }

    .swiper {
      box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
        cursor: pointer;
        transition: 0.4s;
      }

    
      .swiper-slide {
    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
    
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    
      .swiper-pagination {
        width: 10px;
        height: 10px;
      }

      .text > p  {
        margin-top: 1rem;
      }


}
